## 1/ Import Libraries

In [2]:
import pandas as pd
from sklearn import linear_model
import joblib

## 2/ Import Data

In [6]:
train = pd.read_csv("train.csv")
train.head()

   y_salary  x1_Experience  X2_Skills
0       3.0            0.9        1.0
1       4.0            1.3        3.0
2       5.0            2.4        4.0
3       6.0            2.7        4.0
4       7.0            2.9        5.0

## 3/ Build Model

In [8]:
## creating instances here
reg = linear_model.LinearRegression()

In [10]:
## defining X & Y 

X = train [['x1_Experience', 'X2_Skills']]
y = train['y_salary']

## 4/ Fit Model

In [11]:
reg.fit(X,y)

LinearRegression()

In [19]:
print("Coeeficients: /n", reg.coef_)

print("----------------------------------------")

print('Intercepts: /n', reg.intercept_)

Coeeficients: /n [1.09855335 0.41500904]
----------------------------------------
Intercepts: /n 1.326853526220619

## 5/ Export Pickle Model

In [18]:
joblib.dump(reg, 'G:\Mandar\\__Pycharm_st_ML\\Model\\predict_salary.pkl')

['G:\\Mandar\\__Pycharm_st_ML\\Model\\predict_salary.pkl']

## 6/ Model Prediction

In [25]:
## creating DataFrame

user_input = pd.DataFrame({'x1_Experience': [2.4],
                          'X2_Skills':[4]})

In [21]:
user_input

   x1_Experience  X2_Skills
0            2.4          4

In [24]:
# Loading trained Model & predicting the already trained model

model_reg_imported = joblib.load('G:\Mandar\\__Pycharm_st_ML\\Model\\predict_salary.pkl')
model_reg_imported.predict(user_input)

array([5.62341772])